@keyframes load 
{
    0% {
		transform: 	translateY(1000px);
		box-shadow:	rgba(0, 0, 0, 0.0) 0px 2px 5px 1px;
	}
	
   	75% {
		transform: translateY(5px);
		box-shadow:	rgba(0, 0, 0, 0.0) 0px 2px 5px 1px;
	}
	
	85% {
		transform: translateY(5px);
		box-shadow:	rgba(0, 0, 0, 0.0) 0px 2px 5px 1px;
	}
	
	100% {
		transform: translateY(0px);
		box-shadow:	rgba(0, 0, 0, 0.2) 0px 2px 5px 1px;
	}
}

@keyframes load_portfolio 
{
    0% {
		transform: 	translateY(1000px);
	}
	
	85% {
		transform: translateY(-5px);
	}
	
	100% {
		transform: translateY(0px);
		animation-play-state: paused;
	}
}

@keyframes portfolio_hover 
{
    0% {
		transform: 	scale(0.0);
	}
	
	100% {
		transform: scale(1.1);
	}
}

@keyframes navbar_hover 
{
	0% {
	}
	
	100% {
		background-color: #5c5c5c;
	}
}

@keyframes navbar_active
{
	0% {
	}
	
	100% {
		transform: scale(0.9);
	}
}

@keyframes circle {
	0% {
		opacity: 	1.0;
	}
	
	40% {
		opacity: 	1.0;
	}
	
	100% {
		width: 		400px;
		height: 	400px;
		opacity: 	0.6;
	}
}

.article {
	transform: 			translateY(1000px);
	animation: 			load 1.3s ease-out 0s 1 normal forwards/*, post_depth 0.5s ease-out 2.0s 1 alternate forwards*/;
}

.porfolio_button {
	transform: 			translateY(1000px);
	animation: 			load_portfolio 1.3s ease-out 0s 1 normal forwards/*, post_depth 0.5s ease-out 2.0s 1 alternate forwards*/;
}

/* Nav Bar */

ul li a:hover {
	animation: navbar_hover 0.3s ease-out 0s 1 normal forwards;
}

ul li a:active {
	animation: navbar_active 0.2s ease-out 0s 1 normal forwards;
}

/* Portfolio Image */

.circle_hover:hover::after {
	animation: 			circle .3s ease-out 0s 1 normal forwards;
}

.circle_hover:hover::after + .portfolio_image {
	height: 300px;
}


.transformable {
	transition-property: box-shadow transform filter;
	transition-timing-function: linear;
	transition-duration: .1s;
}