#current-post {
  width: 100%;
  padding: 10px 0px;
}

/* Indentation of the posts */
.blog-post p {
  text-indent: 20px;
  text-align:  justify;
  word-wrap:   break-word;
}

.blog-post {
  background-color: #efefef;
  width:            100%;
  min-height:       100vh;
  opacity:          1.0;
  display:          inline-block;
  z-index:          2;
}

.blog-post.header {
  background-size:       cover;
  background-attachment: local;
  background-position:   center center;
  margin:                0px auto;
  width:                 100%;
  height:                500px;
  border-top:            2px solid #7e7e7e;
  border-bottom:         2px solid #7e7e7e;
  z-index:               0;
}

.blog-post img {
  width:         calc(100% - 20px);
  margin:        10px;
  border:        2px solid #c3c3c3;
  border-radius: 7px;
}

.blog-post h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size:   60px;
  margin:      10px auto;
  text-align:  center;
  color:       #7e7e7e;
  transform:    none;
}

.blog-post h1,
.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post h5,
.blog-post h6 {
  transform: none;
}

.blog-post h3 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size:   20px;
  margin:      15px auto;
  text-align:  center;
  color:     #676767;
}

.blog-post .content {
  background-color:       #e8e8e8;
  
  max-width:           1000px;
  margin:           10px auto;
  padding:           5px 30px 20px 30px;
  border-radius:         6px;
  
  font-family:         'Open Sans', sans-serif;
  font-weight:         300;
  font-kerning:         normal;
  line-height:         25px;
  color:             #656565;
  
  box-shadow:         4px 5px 1px #cccccc;
}

.blog-post .content p {
  border-radius:         3px;
  padding:           10px;
  margin:           5px;
  background-color: rgba(255, 255, 255, 0.267);
  text-align: left;
}

.blog-post {
  animation-direction: reverse;
}

.blog-post.opened {
  transform: translateY(0px);
  opacity:   1.0;
}

.blog-post table {
  font-family:     arial, sans-serif;
  border-collapse: collapse;
  width:           100%;
}

.blog-post td,
.blog-post th {
  border:     1px solid #dddddd;
  text-align: left;
  padding:    8px;
}

.blog-post tr:nth-child(even) {
  background-color: #dddddd;
}

@media print
{
  nav, .blog-post.header {
    display: none;
  }
  
  .blog-post .content {
    box-shadow: none;
  }
  
  table {
    page-break-inside: avoid;
  }
  
  /* page margins */
  @page {
    margin: 0.5cm;
  }
  
  /* links will be shown with the actual url */
  p a:after {
    content:   " (" attr(href) ")";
    font-size: 80%;
  }
}

/* All Posts Page */
.post-card {
  background-color: #2e2e2e;
  padding: 2px;
  border-radius: 8px;
  cursor: pointer;
  margin: 9px 10%;
  margin-top: 10px;
  transition: transform 0.15s ease-in-out;
  color: #f0e7fc;
  width: 80%;
}

.post-card:hover
{
  transform: translateY(-3px);
}

.post-card .header
{
  background-color: #555555;
  border-bottom: 2px solid #a1a1a1;
  padding: 10px;
  text-align: center;
  border-radius: 6px 6px 0px 0px;
  font-family:         'Dosis', sans-serif;
  font-size: 20px;
}

.post-card .cover-image
{
  background-image:       url(images/test_plant_image.JPG);
  background-size:       cover;
  background-position:     center center;
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  height: 300px;
}

.post-card .mini-content
{
  width: calc(100% - 10px);
  margin: 5px;
  line-height: 1.2em;
  background-color: #3f3f3f;
  padding: 6px;
  border-radius: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 
{
  list-style-type: decimal;
} 

pre {
  border-radius: 5px;
  line-height:   18px;
  color: rgb(226, 223, 240);
  padding: 10px;
}

/* In Post Helpers */

.center-text {
  text-align: center;
}
