/* CSS Notes:
    transition: 
      <property> <duration> <timing-function> <delay>;
    

      // TODO(Shareef):
      //   One of these is probably wrong....

    class starts with:
      class^="prefixed_word"

    class starts with:
      class*="col-"
*/

#menu {
  z-index: 4;
}

.side-panel {
  box-shadow:       rgba(0, 0, 0, 0.6) 0px 2px 5px 1px;
  width:            350px;
  height:           100vh;
  background-color: rgb(29, 32, 43);
  position:         fixed;
  top:              0px;
  left:             0px;
  z-index:          3;
  border:         rgb(74, 81, 105) 1px solid;
  opacity:          0.0;

  transition:       opacity 0.14s ease-in-out 0s;
}

.side-panel.opened {
  opacity: 1.0;
}

.social-icons {
  margin-top:       5px;
  margin-bottom:    5px;
  padding:          5px;
  background-color: rgb(49, 54, 71);
}

.social-icon {
  width:  40px;
  margin: 0px;
  cursor: pointer;
  border-radius:    5px;
  border: 2px white solid;

  transition: transform 0.3s ease-out 0s, border-radius 0.2s ease-out 0s;
}

.social-icon:hover {
  transform: translateY(-2px);
  border-radius:    10px;
  
}

.social-icon:hover:nth-child(1) {
  border:           2px #00aced solid;
  background-color: #00aced;
}

.social-icon:hover:nth-child(2) {
  border:           2px #211F1F solid;
  background-color: #211F1F;
}

.social-icon:hover:nth-child(3) {
  border:           2px #3C5A99 solid;
  background-color: #3C5A99;
}

.social-icon:hover:nth-child(4) {
  border:           2px #F77737 solid;
  background: linear-gradient(#400080, transparent), 
              linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

.social-icon:hover:nth-child(5) {
  border:           2px #ff0000 solid;
  background-color: #ff0000;
}

.social-icon:hover:nth-child(6) {
  border:           2px #FF4301 solid;
  background-color: #FF4301;
}

.main-article {
  width:            100%;
  position:         relative;
  left:             0px;
  transition:       left 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
}

.main-article.opened {
  width:            calc(100% - 350px);
  left:             350px;
}

article {
  box-shadow:       rgba(0, 0, 0, 0.2) 0px 2px 5px 1px;
  border:             solid white 1px;
  background-color:   #e6ecf2;
  position:           relative;
  display:            inline-block;
  padding:            10px;
  z-index:            2;
  width:              100%;
}

.profile_icon {
  box-shadow:         rgba(0, 0, 0, 0.2) 0px 2px 5px 1px inset;
  background-image:     url(../images/reef_profile_2018.png);
  background-position:  center center;
  background-size:      contain;
  border:               solid #d8d8d8 2px;
  margin:               50px auto;
  border-radius:        50%;

  width:                150px;
  height:               150px;
}

h4 {
  margin:    15px 0px;
  font-size: 1.5em;
}

nav ul {
  list-style-type:  none;
  padding:          0px;
  margin:           0px;
  overflow:         hidden;
}

.nav-bar {
  width: 100%;
}

.nav-items {
  width: 100%;
  border-bottom: 1px rgb(74, 81, 105) solid;
  overflow: visible;
}

.menu-item a {
  color: #ffffff;
  display: block;

  background-color: rgba(51, 55, 73, 0.932);
  padding: 10px 25px;
  float: left;

  width: 100%;

  text-align: center;

  border-top:  1px solid rgb(74, 81, 105);
  
  z-index: 0;

  font-weight: bold;
}

.menu-item:last-child a {
  border-bottom:  1px solid rgb(74, 81, 105);
}

.menu-item a:hover {
  background-color: rgb(74, 81, 105);
  text-shadow: 2px 2px rgb(112, 112, 112);
}

.menu-item a {
  text-decoration: none;
}

.menu-item a:link {
  color: rgb(202, 202, 202);
}

.menu-item a:visited {
  color: rgb(202, 202, 202);
}

.menu-item a:hover {
  color: white;
}

.menu-item a:active {
  color: rgb(201, 201, 201);
}

footer {
  width:              95%;
  height:             25px;
  position:           relative;
  background-color:   rgb(49, 54, 71);
  margin-top:         5px;
  border-radius:      3px;
  margin-left:        2.5%;
  margin-right:       2.5%;
  margin-bottom:      10px;
  text-align:         center;
}

@media only screen and (max-width: 1000px) 
{
  .side-panel {
    width:      100%;
    height:     auto;
    max-height: 100vh;
    overflow-y: auto;
  }

  .side-panel.opened {
    opacity: 0.95;
  }

  .main-article,
  .main-article.opened {
    width: 100%;
    left:  0px;
  }

  .profile_icon {
    width:  80px;
    height: 80px;
    margin: 5px 10px;
    float:  right;
  }

  .menu-item {
    width: 100%;
  }
}

@media only screen and (max-width: 180px) 
{
  .profile_icon {
    opacity: 0.0;
  }
}