#u6367
{
	-pie-box-shadow: 0px 3px 8px #919191;
	-moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.43);
	-webkit-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.43);
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.43);
	border-style: none;
	border-color: transparent;
	background-color: #ECF0F1;
	position: relative;
}

#u6784
{
	-pie-box-shadow: 0px 2px 10px #7F7F7F;
	-moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #ECF0F1;
	position: relative;
}

#u6376-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6374:hover #u6376-4 p
{
	color: #000000;
	visibility: inherit;
}

#u6389-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6374.MuseMenuActive #u6376-4 p,#u6388:hover #u6389-4 p
{
	color: #000000;
	visibility: inherit;
}

#u6396-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6388.MuseMenuActive #u6389-4 p,#u6395:hover #u6396-4 p
{
	color: #000000;
	visibility: inherit;
}

#u6383-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6374.MuseMenuActive #u6376-4,#u6388.MuseMenuActive #u6389-4,#u6395.MuseMenuActive #u6396-4,#u6381.MuseMenuActive #u6383-4
{
	border-style: none;
	border-color: transparent;
}

#u6395.MuseMenuActive #u6396-4 p,#u6381:hover #u6383-4 p
{
	color: #000000;
	visibility: inherit;
}

#u6381.MuseMenuActive #u6383-4 p
{
	color: #000000;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u6371
{
	border-color: #000000;
	background-color: #ECF0F1;
	position: relative;
}

#u6367_align_to_page,#u6521,#u6784_align_to_page,#menuu6372,#u6373,#u6374,#u6387,#u6388,#u6394,#u6395,#u6380,#u6381,#u6371_align_to_page
{
	position: relative;
}

#u6370-8
{
	color: #FFFFFF;
	position: relative;
}

#u6370
{
	color: #42410B;
}

#u6370-3
{
	color: #097CAD;
}

#u6370-4
{
	color: #3E3E3E;
}

#u6370-5
{
	color: #000000;
}

