.version.secret_pages /* version checker */
{
	color: #0000F9;
	background-color: #AE3BF1;
}

.html
{
	background: #4CA560 url("../images/photoblog_nature_leaf_21207_h.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 940px;
	min-height: 656.5000000000005px;
	-pie-box-shadow: 0px 0px 8px 2px #7F7F7F;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-style: none;
	border-color: #006837;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u199
{
	z-index: 15;
	width: 940px;
	padding-bottom: 17px;
	margin-right: -10000px;
}

#u1770
{
	z-index: 16;
	width: 189px;
	margin-right: -10000px;
	margin-top: -4px;
	left: 376px;
}

#u1770_img
{
	padding-right: 1px;
}

#menuu153
{
	z-index: 18;
	width: 940px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 166px;
}

#u154
{
	width: 186px;
	min-height: 31px;
	margin-right: -10000px;
}

#u157
{
	width: 186px;
	padding-bottom: 13px;
}

#u157:hover
{
	margin: 0px;
}

#u157:active
{
	margin: 0px;
}

#u158-4
{
	width: 186px;
	min-height: 18px;
	margin-right: -10000px;
	top: 6px;
}

#u157:hover #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u157:active #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u185
{
	width: 186px;
	min-height: 31px;
	margin-right: -10000px;
	left: 188px;
}

#u188
{
	width: 186px;
	padding-bottom: 13px;
}

#u157.MuseMenuActive,#u188:hover
{
	margin: 0px;
}

#u188:active
{
	margin: 0px;
}

#u191-4
{
	width: 186px;
	min-height: 18px;
	margin-right: -10000px;
	top: 6px;
}

#u157.MuseMenuActive #u158-4,#u188:hover #u191-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u188:active #u191-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u178
{
	width: 186px;
	min-height: 31px;
	margin-right: -10000px;
	left: 376px;
}

#u181
{
	width: 186px;
	padding-bottom: 13px;
}

#u188.MuseMenuActive,#u181:hover
{
	margin: 0px;
}

#u181:active
{
	margin: 0px;
}

#u183-4
{
	width: 186px;
	min-height: 18px;
	margin-right: -10000px;
	top: 6px;
}

#u188.MuseMenuActive #u191-4,#u181:hover #u183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u181:active #u183-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u2493
{
	width: 187px;
	min-height: 31px;
	margin-right: -10000px;
	left: 564px;
}

#u2494
{
	width: 187px;
	padding-bottom: 13px;
}

#u181.MuseMenuActive,#u2494:hover
{
	margin: 0px;
}

#u2494:active
{
	margin: 0px;
}

#u2496-4
{
	width: 187px;
	min-height: 18px;
	margin-right: -10000px;
	top: 6px;
}

#u181.MuseMenuActive #u183-4,#u2494:hover #u2496-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u2494:active #u2496-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u161
{
	width: 187px;
	min-height: 31px;
	margin-right: -10000px;
	left: 753px;
}

#u162
{
	width: 187px;
	padding-bottom: 13px;
}

#u2494.MuseMenuActive,#u162:hover
{
	margin: 0px;
}

#u162:active
{
	margin: 0px;
}

#u162.MuseMenuActive
{
	margin: 0px;
}

#u163-4
{
	width: 187px;
	min-height: 18px;
	margin-right: -10000px;
	top: 6px;
}

#u2494.MuseMenuActive #u2496-4,#u162:hover #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u162:active #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u162.MuseMenuActive #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u3210-4
{
	z-index: 2;
	width: 868px;
	min-height: 78px;
	background-color: transparent;
	line-height: 58px;
	font-size: 48px;
	color: #D10000;
	font-family: architects-daughter, sans-serif;
	font-weight: 400;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#u3211
{
	z-index: 6;
	width: 249px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #39B54A;
	padding-bottom: 21px;
	margin-left: 330px;
	margin-top: 35px;
	position: relative;
}

#u3211:hover
{
	background-color: #8CC63F;
	width: 249px;
	min-height: 0px;
	margin: 35px 0px 0px 330px;
}

#u3211:active
{
	background-color: #22B573;
	width: 249px;
	min-height: 0px;
	margin: 35px 0px 0px 330px;
}

#u3215-4
{
	z-index: 7;
	width: 109px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 70px;
}

#u3216-4
{
	z-index: 11;
	width: 102px;
	min-height: 1px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 69px;
	position: relative;
}

#pu2124
{
	width: 0.01px;
	margin-top: 2px;
}

#u2124
{
	z-index: 49;
	width: 925px;
	padding-left: 15px;
	padding-top: 2px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: -2px;
}

#pu199,#pmenuu2125
{
	width: 0.01px;
}

#menuu2125
{
	z-index: 50;
	width: 438px;
	margin-right: -10000px;
}

#u2133
{
	width: 438px;
}

#u2134
{
	width: 438px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2134:hover
{
	width: 438px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2134:active
{
	width: 438px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2137-4
{
	width: 438px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
}

#u2134:hover #u2137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2134:active #u2137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2161
{
	width: 438px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2134.MuseMenuActive,#u2161:hover
{
	width: 438px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2161:active
{
	width: 438px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2163-4
{
	width: 438px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
}

#u2134.MuseMenuActive #u2137-4,#u2161:hover #u2163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2161:active #u2163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2129
{
	width: 438px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2161.MuseMenuActive,#u2129:hover
{
	width: 438px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2129:active
{
	width: 438px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2131-4
{
	width: 438px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
}

#u2161.MuseMenuActive #u2163-4,#u2129:hover #u2131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2129:active #u2131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2489
{
	width: 438px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u2129.MuseMenuActive,#u2489:hover
{
	width: 438px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2489:active
{
	width: 438px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2492-4
{
	width: 438px;
	min-height: 22px;
	margin-right: -10000px;
	top: 1px;
}

#u2129.MuseMenuActive #u2131-4,#u2489:hover #u2492-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2489:active #u2492-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2158,#u2126,#u2486,#u2151
{
	width: 438px;
	margin-top: 2px;
}

#u2152
{
	width: 438px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u2489.MuseMenuActive,#u2152:hover
{
	width: 438px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2152:active
{
	width: 438px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2152.MuseMenuActive
{
	width: 438px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2155-4
{
	width: 438px;
	min-height: 22px;
	margin-right: -10000px;
	top: 1px;
}

#u2489.MuseMenuActive #u2492-4,#u2152:hover #u2155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2152:active #u2155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2152.MuseMenuActive #u2155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u2165-4
{
	z-index: 81;
	width: 470px;
	min-height: 135px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 454px;
}

#pu2400-4
{
	width: 0.01px;
	margin-left: 358px;
	margin-top: 10px;
}

#u2400-4
{
	z-index: 102;
	width: 194px;
	min-height: 19px;
	margin-right: -10000px;
}

#u2398-6
{
	z-index: 96;
	width: 361px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 201px;
}

#u2166-11
{
	z-index: 85;
	width: 471px;
	min-height: 119px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 452px;
}

body
{
	position: relative;
	min-width: 940px;
	padding-top: 10px;
	padding-bottom: 30px;
}

