#u1039
{
	-pie-box-shadow: 0px 5px 9px #7F7F7F;
	-moz-box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 5px 9px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FB7479;
	position: relative;
}

#u6782
{
	-pie-box-shadow: 0px 2px 10px #7F7F7F;
	-moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FF767B;
	position: relative;
}

#menuu898
{
	border-style: none;
	border-color: transparent;
	background-color: #FF777C;
	position: relative;
}

#u936
{
	background-color: #FFA3A7;
	background-color: rgba(255, 119, 124, 0.67);
	position: relative;
	-pie-background: rgba(255, 119, 124, 0.67);
}

#u937-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u936:hover #u937-4 p
{
	color: #000000;
	visibility: inherit;
}

#u900
{
	background-color: #FFA3A7;
	background-color: rgba(255, 119, 124, 0.67);
	position: relative;
	-pie-background: rgba(255, 119, 124, 0.67);
}

#u902-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u900:hover #u902-4 p
{
	color: #000000;
	visibility: inherit;
}

#u916
{
	background-color: #FFA3A7;
	background-color: rgba(255, 119, 124, 0.67);
	position: relative;
	-pie-background: rgba(255, 119, 124, 0.67);
}

#u918-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u916:hover #u918-4 p
{
	color: #000000;
	visibility: inherit;
}

#u6257
{
	background-color: #FFA3A7;
	background-color: rgba(255, 119, 124, 0.67);
	position: relative;
	-pie-background: rgba(255, 119, 124, 0.67);
}

#u6260-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u936.MuseMenuActive #u937-4,#u900.MuseMenuActive #u902-4,#u916.MuseMenuActive #u918-4,#u6257.MuseMenuActive #u6260-4
{
	border-style: none;
	border-color: transparent;
}

#u6257:hover #u6260-4 p
{
	color: #000000;
	visibility: inherit;
}

#u936.MuseMenuActive #u937-4 p,#u900.MuseMenuActive #u902-4 p,#u916.MuseMenuActive #u918-4 p,#u6257.MuseMenuActive #u6260-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u895
{
	border-color: #000000;
	background-color: #FF777C;
	position: relative;
}

#u1039_align_to_page,#u960,#u6782_align_to_page,#u935,#u899,#u913,#u6256,#u895_align_to_page
{
	position: relative;
}

#u942-9
{
	color: #FFFFFF;
	position: relative;
}

#u942
{
	color: #F15A24;
}

#u942-3
{
	color: #7EC7E6;
}

#u942-4
{
	color: #B1B1B1;
}

#u942-6
{
	color: #000000;
}

