#u1356
{
	background: -webkit-gradient(linear, left center, right center, color-stop(32%, #9D79B9),to(#B093C6));
	background: -webkit-linear-gradient(left,#9D79B9 32%,#B093C6 );
	background: -moz-linear-gradient(left,#9D79B9 32%,#B093C6 );
	background: -ms-linear-gradient(left,#9D79B9 32%,#B093C6 );
	background: -o-linear-gradient(left,#9D79B9 32%,#B093C6 );
	background: linear-gradient(to right,#9D79B9 32%,#B093C6 );
	-pie-background: linear-gradient(left,#9D79B9 32%,#B093C6 );
	border-style: none;
	border-color: transparent;
	position: relative;
	background-size: 100% auto !important;
}

#u6781
{
	-pie-box-shadow: 0px 2px 10px #7F7F7F;
	-moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #A26DCA;
	position: relative;
}

#u686
{
	background-color: #CAADE1;
	background-color: rgba(162, 109, 202, 0.56);
	position: relative;
	-pie-background: rgba(162, 109, 202, 0.56);
}

#u688-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u686:hover #u688-4 p
{
	color: #000000;
	visibility: inherit;
}

#u693
{
	background-color: #CAADE1;
	background-color: rgba(162, 109, 202, 0.56);
	position: relative;
	-pie-background: rgba(162, 109, 202, 0.56);
}

#u694-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u693:hover #u694-4 p
{
	color: #000000;
	visibility: inherit;
}

#u707
{
	background-color: #CAADE1;
	background-color: rgba(162, 109, 202, 0.56);
	position: relative;
	-pie-background: rgba(162, 109, 202, 0.56);
}

#u710-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u707:hover #u710-4 p
{
	color: #000000;
	visibility: inherit;
}

#u1356_align_to_page,#u739,#u6781_align_to_page,#menuu682,#u683,#u690,#u704,#u6270
{
	position: relative;
}

#u6271
{
	background-color: #CAADE1;
	background-color: rgba(162, 109, 202, 0.56);
	position: relative;
	-pie-background: rgba(162, 109, 202, 0.56);
}

#u6272-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
}

#u686.MuseMenuActive #u688-4,#u693.MuseMenuActive #u694-4,#u707.MuseMenuActive #u710-4,#u6271.MuseMenuActive #u6272-4
{
	border-style: none;
	border-color: transparent;
}

#u6271:hover #u6272-4 p
{
	color: #000000;
	visibility: inherit;
}

#u686.MuseMenuActive #u688-4 p,#u693.MuseMenuActive #u694-4 p,#u707.MuseMenuActive #u710-4 p,#u6271.MuseMenuActive #u6272-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u728
{
	border-color: #000000;
	background-color: #BFA6D0;
	background-color: rgba(165, 131, 190, 0.71);
	position: relative;
	-pie-background: rgba(165, 131, 190, 0.71);
}

#u681-9
{
	color: #FFFFFF;
	position: relative;
}

#u681
{
	color: #F15A24;
}

#u681-3
{
	color: #7EC7E6;
}

#u681-4
{
	color: #B1B1B1;
}

#u681-6
{
	color: #000000;
}

