<div class="article article_two">
	<h3>Socials</h3>

    <div class="socialbar">
        <a href="_template.html"><div class="social- google_plus">  Google+    </div></a>
        <a href="_template.html"><div class="social- deviant_art"> DeviantART </div></a>
        <a href="_template.html"><div class="social- facebook">  Facebook   </div></a>
        <a href="_template.html"><div class="social- twitter"> Twitter    </div></a>
        <a href="_template.html"><div class="social- tumblr"> Tumblr     </div></a>
    </div>
</div>

<div class="article article_two">
	<h3>Links</h3>

	<ul>
		<li class="active">         <a class="homeLink">        Home        </a></li>
		<li>                        <a class="portfolioLink">   Portfolio   </a></li>
		<li>                        <a class="youtubeLink">     Videos      </a></li>
		<li>                        <a class="aboutLink">       About       </a></li>
		<li>   <a class="contactLink">     Contact     </a></li>
	</ul>
</div>

<div class="clear"></div>

<div class='credits'>Copyright 2017 &copy; <span style="color:#7ca8ed">Blu</span><span style="color:#666467">Fedora</span></div>